<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2 class="titulo">CALCULADORA DE IMC</h2>
    <div class="row">
      <div class="col-lg-6">
        <div class="fondoItem">

        </div>
      </div>
      <div class="col-lg-6">
        <div class="fondoItem">

        </div>
      </div>
    </div>
    <div class="col-lg-14">
      <div class="fondoItem">

      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="fondoItem">

        </div>
      </div>
      <div class="col-lg-6">
        <div class="fondoItem">

        </div>
      </div>
    </div>
    <div class="col-lg-14">
      <button class="btn btn-primary btn-lg btn-block">Calcular</button>

      </div>
    </div>
  </div>
