<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h2 class="titulo">CALCULADORA DE IMC</h2>
    <br>
    <h6>Rellena los datos siguientes acordes a tu persona:</h6>
    <div class="row">
      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <i class="fas fa-mars sexo"></i>
            <br>
            <p>Masculino</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <i class="fas fa-venus sexo"></i>
            <br>
            <p>Femenino</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-14">
      <div class="fondoItem">
          <div class="contenedor">
          <p>Altura:</p>
          <div class="estilonumero">170 <span class="cm">cm</span></div>
          <input type="range" class="form-range">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="fondoItem">
            <div class="contenedor">
              <p>Peso:</p>
              <div class="estilonumero">60 <span class="peso">Kg</span></div>
                <div>
                  <i class="fas fa-minus sumaResta"></i>
                  <i class="fas fa-plus sumaResta"></i>
                </div>
            </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="fondoItem">
          <div class="contenedor">
            <p>Edad:</p>
            <div class="estilonumero">25 <span class="edad">años</span></div>
            <div>
              <i class="fas fa-minus sumaResta"></i>
              <i class="fas fa-plus sumaResta"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-14">
      <button class="btn btn-primary btn-lg btn-block">CALCULAR</button>

      </div>
    </div>
  </div>
