body {
  background-color: #1a2530;
  font-family: 'Roboto', sans-serif;
}

p {
  color: white;
  text-align: center;
  margin-top: 8px;
}

.titulo {
  margin-top: 15px;
  text-align:center;
  color: white;
}

.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col {
  margin-top: 20px;
}
.btn {
  border-radius: 15px;
  margin-top: 20px;
}

.contenedor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
